name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run Docker tests
        working-directory: src
        run: |
          docker compose -f docker/docker-compose.yml up --build --exit-code-from test
          docker compose -f docker/docker-compose.yml down -v
